<mat-card [ngClass]="{'seventh-floor': room.category=='floor-7', 'tenth-floor':room.category=='floor-10' }">
    <mat-card-header>
      <div mat-card-avatar style="margin: 0 5vw 2vh 0;" class="container" *ngIf="gorillaAvatar | async; let url">
          <img [src]="url" alt="Image from AngularFireStorage">
      </div>
      <mat-card-title>{{ room.category }}th</mat-card-title>
      <mat-card-subtitle>{{ room.description }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
