<mat-card>
        <div  class="content"
              fxLayout="row"
              fxLayoutAlign="left center"
              fxLayoutGap="1vh"
              fxLayout.xs="column"
              fxLayoutAlign.xs="left space-between"
              fxLayoutGap.xs="1vh" >
            <div class="sec1" fxFlex.xs="55">
                <button mat-raised-button color="warn" (click)="loadAllRequested.emit()"
                >
                Load All Rooms
                </button>
            </div>
            <div class="sec2" fxFlex.xs="55">
                <button mat-raised-button color="accent" (click)="loadCategoryRequested.emit('floor-7')"
                >
                Load Rooms 7th
                </button>
            </div>
            <div class="sec3" fxFlex.xs="55">
                <button mat-raised-button color="primary" (click)="loadCategoryRequested.emit('floor-10')">
                    Load Rooms 10th
                </button>
            </div>
        </div>
</mat-card>
<div *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="!loading" style="margin-top: 1vh;">
  <div class="rooms-list" *ngIf="rooms">
    <app-room-card-item
      *ngFor="let room of rooms"
      [room]="room"
    ></app-room-card-item>
  </div>

  <div *ngIf="!rooms">No rooms found</div>
</div>
<br />
<div class="error" *ngIf="error">ERROR: {{ error }}</div>
