.buttons {
  margin-top: 25px;
  margin-bottom: 25px;
}

.rooms-list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
}

.error {
  color: red;
}

.mat-raised-button {
  min-width: 150px;
}
